table,
td,
th {
  border-width: 1px;
  border-style: solid;
  padding: 2px;
  border: 1px solid rgb(221, 221, 221);
}

table {
  width: 80%;
  border-collapse: collapse;
  margin: auto;
  margin-top: 50px;
}

th {
  text-align: left;
}

tbody > tr:nth-child(odd) {
  background-color: rgb(241, 241, 241);
}

tr:nth-child(odd) td {
  background-color: rgb(241, 241, 241);
}
thead tr:hover {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  cursor: pointer;
}
thead {
  background-color: rgb(221, 221, 221);
}
